# Dependency Modules
node_modules

# App Packaged
dist/
build/
*.zip

# NPM
.npm
package-lock.json
yarn.lock

# Environment
.env*

# Test
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OSX
.DS_Store

